name: Unit Tests

on:
  push:
    branches: [master, main]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        emacs_version: ['29.4', '30.1', 'snapshot']
    name: Emacs ${{ matrix.emacs_version }}
    steps:
      - uses: actions/checkout@v4
      - uses: purcell/setup-emacs@master
        with:
          version: ${{ matrix.emacs_version }}
      - name: Install tree-sitter grammars
        run: emacs --batch -Q -L . -l scripts/install-ts-grammars.el
      - run: make test-unit
